<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thomas Burton</title>
    <link rel="icon" type="image/x-icon" href="images/avatar.png">
    <link rel="stylesheet" href="css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<!--<a href="https://www.flaticon.com/free-icons/avatar" title="avatar icons">Avatar icons created by Freepik - Flaticon</a>-->
<!--<a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by Ruslan Babkin - Flaticon</a>-->
<!--<a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons">Instagram icons created by Ruslan Babkin - Flaticon</a>-->

<body>
    <div class="wrapper">
        <a href="/resume"><button class="bounce">Resume</button></a>
        <a href="/projects"><button class="bounce">Projects</button></a>
        <a href="/music"><button class="bounce">Music</button></a>
        <div class="bio">
            <p class="main-text">Hi! Thomas here. <br> I'm a Computer and Data Science student @ CU Boulder. Welcome to
                my
                world!
            </p>

        </div>
        <div class="items">
            <a href="https://github.com/thomasburton1" target="_blank" rel="noopener noreferrer"
                class="item bounce"><img src="images/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/thomas-burton-b177b7202/" target="_blank" rel="noopener noreferrer"
                class="item bounce"><img src="images/linkedin.png" alt=""></a>
            <a href="https://open.spotify.com/artist/75bpU16d2NBpXjUYMJ2lzH" target="_blank" rel="noopener noreferrer"
                class="item bounce"><img src="images/spotify.png" alt=""></a>
        </div>
    </div>
</body>

</html>