html,
body {
    min-width: auto;
    width: 100%;
    background-color: #FFBF69;
}

.wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 30px;
    background-color: #FBEEE0;
    transform-origin: center;
    transition: scale 800ms;

}

.wrapper:hover {
    scale: 1.03;
}

button {
    border: 5px solid black;
    border-radius: 20px;
    width: 100px;
    height: 38px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;

}

.bio {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.main-text {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.items {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

img {
    height: 80px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 8px solid black;
    border-radius: 20px;
}

.bounce {
    transition: transform 750ms;
    will-change: transform;
}

.bounce:hover,
.bounce:focus {
    transform: translateY(-8px);
}







/*@media only screen and (max-width: 620px) {
    .main {
        width: 100%;
    }
}*/